body{

 background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); 
}
.mynav{
 background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(15,121,9,1) 35%, rgba(0,212,255,1) 100%);
}
.mynav a{
color:white;
}